.home-page {
    padding: 20px;
}

/* HomePage.css */

.login-container {
    position: absolute;
    top: 20px;
    padding-right: 200px;
    right: 0;
    max-width: 300px;
    width: 50%;
}

.sport{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.welcome-message {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.add-funds-button {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.add-funds-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.logout-button:hover {
    background-color: darkred;

}

.login-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 10px;
}

.register-link,
.forgot-password-link {
    color: blue;
    text-decoration: underline;
    font-size: 14px;

}

.login-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-input {
    background-color: whitesmoke; /* Dark red for input fields */
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 14px;
}

.login-button {
    background-color: #00cc00; /* Bright green for button */
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #009900; /* Darken green on hover */
}

.liga-section {
    margin-bottom: 40px;
}

.league-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
}

.league-table th, .league-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.league-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.league-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.league-table tr:hover {
    background-color: #ddd;
}

.tecaj {
    margin-bottom: 5px;
}
