.home-page {
    padding: 20px;
    transition: filter 0.3s ease;
}

.home-page.blur {
    filter: blur(5px);
    pointer-events: none;
}


.home-page.blur .popup {
    filter: none !important;
    pointer-events: auto;
}

/* HomePage.css */

.login-container {
    position: absolute;
    top: 20px;
    padding-right: 200px;
    right: 0;
    max-width: 300px;
    width: 50%;
}

.sport{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.welcome-message {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.add-funds-button {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.add-funds-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.logout-button:hover {
    background-color: darkred;

}

.login-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 10px;
}

.register-link,
.forgot-password-link {
    color: blue;
    text-decoration: underline;
    font-size: 14px;

}

.login-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-input {
    background-color: whitesmoke; /* Dark red for input fields */
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 14px;
}

.login-button {
    background-color: #00cc00; /* Bright green for button */
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #009900; /* Darken green on hover */
}

.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    z-index: 1000;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-button, .close-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button {
    background-color: #007bff;
    color: white;
}

.close-button {
    background-color: red;
    color: white;
}

.liga-section {
    margin-bottom: 40px;
}

.league-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
}

.league-table th, .league-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.league-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.league-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.league-table tr:hover {
    background-color: #ddd;
}

.tecaj {
    margin-bottom: 5px;
}
